<div class="flex flex-wrap">
  <div class="w-full xl:w-[300px] lg:w-[300px] md:w-1/2">
    <mat-card class="box-border mb-6 pb-0 shadow-md">
      <div class="w-full mb-6 flex justify-center mt-4">
        <img [src]="(user | async)?.picture || 'assets/images/sq-face-220.jpg'" class="w-1/2 h-auto rounded-full border-4 border-gray-100 shadow" alt="User Profile Photo">
      </div>
      <div class="text-center mb-6 px-4">
        <h1 class="text-2xl font-bold mb-1">{{(user | async)?.displayName}}</h1>
        <h2 class="text-lg font-medium mb-3">{{(user | async)?.bio || 'No bio yet'}}</h2>
      </div>
      <div class="profile-nav">
        <div class="px-4 py-3 flex items-center cursor-pointer hover:bg-hover font-medium" routerLink="/profile/settings" routerLinkActive="border-l-[3px] text-primary-600 font-semibold">
          <mat-icon class="mr-3 rtl:ml-3">settings</mat-icon>
          Settings
        </div>
      </div>
    </mat-card>

  </div>

  <!-- Profile Views -->
  <div class="w-full md:w-1/2 xl:w-[calc(100%-300px)] lg:w-[calc(100%-300px)] pl-0">
    <router-outlet></router-outlet>
  </div>
</div>